<script setup lang="ts">
import { ref } from 'vue'
import axios from 'axios'

const specie = ref()
const length1 = ref('')
const length2 = ref('')
const length3 = ref('')
const height = ref('')
const width = ref('')

const errorMessage = ref<string>('')
const predictedWeight = ref<number>()
// const Speciess = ref(['Bream', 'Roach', 'Whitefish', 'Parkki', 'Perch', 'Pike', 'Smelt'])
const Species = [
  {
    title: 'Bream',
    value: 0
  },
  {
    title: 'Parkki',
    value: 1
  },
  {
    title: 'Perch',
    value: 2
  },
  {
    title: 'Pike',
    value: 3
  },
  {
    title: 'Roach',
    value: 4
  },
  {
    title: 'Smelt',
    value: 5
  },
  {
    title: 'Whitefish',
    value: 6
  }
]
// const fishData = ref({
//   specie: -1,
//   length1: 0.0,
//   length2: 0.0,
//   length3: 0.0,
//   height: 0.0,
//   width: 0.0
// })
const predictFishWeight = async () => {
  const data = {
    specie: +specie.value,
    length1: +length1.value,
    length2: +length2.value,
    length3: +length3.value,
    height: +height.value,
    width: +width.value
  }
  try {
    const response = await axios.post('http://localhost:8000/predict/', data)

    console.log('Predicted fish weigth:', response.data)
    predictedWeight.value = response.data
    errorMessage.value = ''
  } catch (error) {
    console.error('Failed to predict fish weigth:', error)
    errorMessage.value = 'Failed to predict fish weight'
  }
}
</script>

<template>
  <v-container class="my-container h-screen" fluid full-height>
    <v-card
      elevation="20"
      width="630px"
      height="750px"
      class="mx-auto ma-16 pa-5"
      style="border-radius: 20px"
    >
      <h2
        class="text-center"
        style="font-weight: bolder; font-family: Noto Sans Thai; color: #000000"
      >
        Fish Weight Estimator
      </h2>
      <v-card-text class="pa-5">
        <v-form>
          <v-select
            v-model="specie"
            variant="outlined"
            :items="Species"
            label="Select Species"
            item-title="title"
            item-value="value"
          ></v-select>
          <v-text-field
            class="mt-5"
            label="Length 1"
            v-model="length1"
            variant="outlined"
          ></v-text-field>
          <v-text-field
            class="mt-5"
            label="Length 2"
            v-model="length2"
            variant="outlined"
          ></v-text-field>
          <v-text-field
            class="mt-5"
            label="Length 3"
            v-model="length3"
            variant="outlined"
          ></v-text-field>
          <v-text-field
            class="mt-5"
            label="Height"
            v-model="height"
            variant="outlined"
          ></v-text-field>
          <v-text-field
            class="mt-5"
            label="Width"
            v-model="width"
            variant="outlined"
          ></v-text-field>
          <div class="d-flex"><v-btn @click="predictFishWeight()" color="yellow">predictFishWeight</v-btn><p style="font-size: 18px;" class="ml-3 mt-2">Predicted Fish Weight : {{ predictedWeight }}</p></div>
          
        </v-form>
      </v-card-text>
    </v-card>
  </v-container>
</template>
